button,
.button {
	@include hover-transition(background-color);
	width: 100%;
	border: none;
	text-transform: uppercase;
	outline: none;
}

.button {
	&.basic {
		@include hover-transition(background-color);
		display: block;
		font-weight: bold;
		padding: 20px;
		text-align: center;
		background-color: $color-quarternary;

		&:hover {
			background-color: $global-hover-background-color;
		}
	}
}