button,
.button {
	@include hover-transition(background-color);
	width: 100%;
	border: none;
	text-transform: uppercase;
	outline: none;
}

.button {
	&.basic {
		display: block;
		padding: 20px;
		background-color: $color-quarternary;
	}
}