form {
	@include clearfix;
	padding: 1em 0;
}

input {
	height: 80px;

	&[type=text] {
		padding: .5em;
		width: 100%;
		font-size: 30px;
		font-weight: $extra-bold;
		text-transform: capitalize;
		border: 3px solid $dark-blue;
		outline: none;

		&:focus {
			color: $violet;
			border: 5px solid $violet;
		}
	}

	&[type=submit] {
		padding: 10px;
		width: 100%;
		border: none;
		color: $white;
		font-size: 30px;
		background-color: $dark-blue;
		text-transform: uppercase;

		&:hover {
			color: $global-hover-color;
			background-color: $global-hover-background-color;
		}
	}
}