form {
	@include clearfix;
	margin-bottom: 1.5em;
}

input {
	height: 80px;

	&[type=text] {
		@include hover-transition(border);
		padding: .5em;
		width: 100%;
		font-size: 30px;
		font-weight: $extra-bold;
		text-transform: capitalize;
		border: 3px solid $color-tertiary;
		outline: none;

		&:focus {
			color: $global-focus-color;
			border: 5px solid $global-focus-color;
		}
	}

	&[type=submit] {
		@include hover-transition(background-color);
		padding: 10px;
		width: 100%;
		border: none;
		color: $white;
		font-size: 30px;
		font-weight: bold;
		background-color: $color-tertiary;

		&:hover {
			color: $global-hover-color;
			background-color: $global-hover-background-color;
		}
	}
}