.list {
	@include clearfix;
	font-family: $font-family;
	font-size: 1.5em;
	text-transform: capitalize;
	margin: .5em 0;

	.item {
		@extend .shadow;
		display: block;
		height: 2.2em;
		text-align: left;
		margin-bottom: .25em;
		padding: .5em 1em;
		white-space: nowrap;
		overflow: hidden;
		color: $color-tertiary;
		background-color: $off-white;

		&:hover {
			cursor: pointer;
		}
	}

	.add-item-button { // target a class instead of <a> tag in for modularity
		@extend .shadow;
		display: block;
		height: 3.4em;
		padding: .77em;
		font-size: .65em;
		font-weight: $bold;
		color: $color-tertiary;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
		background-color: $color-primary;

		&:hover {
			color: $global-hover-color;
			background-color: $global-hover-background-color;
		}
	}
}

.user-list {
	.add-item-button {
		background-color: darken($color-quarternary, 7%);
	}
}