.extend-animation {
	@include transition(all .2s linear);

	&:hover {
		@include transform(scale(1.1));
	}
}

nav {
	margin-top: 1em;

	li {
		display: inline-block;
	}
}

.controls {
	@extend .extend-animation;
	$dimensions: 115px;
	width: $dimensions;
	height: $dimensions;
	line-height: $dimensions;
	margin: 5px 5px 20px 5px;
	background-color: $color-quarternary;
	text-align: center;
	font-family: Arial;
	font-size: 8em;
	font-weight: bold;
	

	&.is-round {
		border-radius: $dimensions;
	}

	&:hover {
		font-size: 8.5em;
	}

	+ div {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2em;
	}

	img {
		position: relative;
		top: -20px;
	}
}

.nav-label {
	@extend .extend-animation;

	&:hover {
		font-size: 1.2em;
	}
}

