body {
	@extend .base-gradient;
	font-family: $font-family;
	font-weight: $normal;
	font-size: 20px;
	color: $color-tertiary;
	background-color: #f00;
	letter-spacing: 1px;
}

.headline {
	margin: 0 0 .5em 0;
}

.subheadline {
	font-weight: $normal;
	margin: 0 0 1em 0;
}

a {
	color: $color-tertiary;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: $global-hover-color;
		background-color: $global-hover-background-color;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
	}
}

// could be a div or ul
.list {
	font-family: $font-family;
	font-size: 1.5em;
	text-transform: capitalize;

	.item {
		@extend .shadow;
		display: block;
		margin-bottom: .25em;
		padding: .5em 1em;
		color: $color-tertiary;
		background-color: $off-white;

		&:hover {
			cursor: pointer;
		}
	}

	.item-details { // target a class instead of <a> tag in for modularity
		@extend .shadow;
		display: block;
		padding: .77em;
		font-size: .65em;
		font-weight: $bold;
		color: $color-tertiary;
		text-align: center;
		background-color: $color-primary;

		&:hover {
			color: $global-hover-color;
			background-color: $global-hover-background-color;
		}
	}
}