body {
	@extend .base-gradient;
	font-family: $font-family;
	font-weight: $normal;
	font-size: 20px;
	color: $dark-blue;
	background-color: #f00;
	letter-spacing: 1px;
}

.headline {
	margin: 0 0 .5em 0;
}

.subheadline {
	font-weight: $normal;
	margin: 0 0 1em 0;
}

a {
	color: $dark-blue;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: $global-hover-color;
		background-color: $global-hover-background-color;
	}
}

input[type=submit] {
	&:hover {
		color: $global-hover-color;
		background-color: $global-hover-background-color;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
	}

	&.list {
		font-family: $font-family;
		font-size: 1.5em;
		text-transform: capitalize;

		li {
			display: block;
			margin-bottom: .25em;
			padding: .5em 1em;
			color: $dark-blue;
			background-color: $off-white;
			border-bottom: 5px solid $turquoise;

			&:hover {
				cursor: pointer;
			}
		}

		a {
			float: right;
			position: relative;
			font-size: .65em;
			font-weight: $bold;
			top: -.8em;
			right: -1.6em;
			padding: .8em;
			color: $dark-blue;
			background-color: $light-green;

			&:hover {
				color: $global-hover-color;
				background-color: $global-hover-background-color;
			}
		}
	}
}