.base-gradient {
	background: #a0f4a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #a0f4a0 0%, #11ead7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0f4a0), color-stop(100%,#11ead7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a0f4a0 0%,#11ead7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a0f4a0 0%,#11ead7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a0f4a0 0%,#11ead7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a0f4a0 0%,#11ead7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0f4a0', endColorstr='#11ead7',GradientType=0 ); /* IE6-9 */
}

.shadow {
	border-bottom: 5px solid $turquoise;
}

.text-center {
	text-align: center;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}